/* [[NOTE]] Remove inside borders from visible ships */
:root {
  --tile-length: 30px;
  --tile-number: 10;
  --clr-board-border: #c4c6fd;
  --bg-board: white;
  --side-gap: 200px;
  --dot-scale: 0.65;
  --bg-miss: #f3f7fe;
}

#gameboards {
  display: flex;
  justify-content: space-between;
}

section {
  margin-inline: var(--side-gap);
}

header {
  padding-inline: var(--side-gap);
  margin-bottom: 80px;
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
  gap: 20px;
  align-items: center;
}

.message-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  height: 30px;
  font-size: 1.2rem;
  color: #4a4a4a;
  padding-left: 10px;
}

.gameboards__left {
  display: grid;
  grid-template: repeat(2, auto) / 100px 1fr;
}

.gameboards__right {
  display: grid;
  grid-template: repeat(2, auto) / 1fr 100px;
}

.gameboards__left .toggle-player-type {
  grid-column: 2;
}

.board {
  display: grid;
  grid-template: repeat(var(--tile-number), var(--tile-length)) / repeat(
      var(--tile-number),
      var(--tile-length)
    );
  background-color: var(--clr-board-border);
  gap: 1px;
  padding: 1px 1px;
  position: relative;
}

.board:not(.appear)::after {
  content: "";
  color: white;
  position: absolute;
  background-color: #ffffffa8;
  backdrop-filter: blur(0.7px);
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  transition: all 1s ease;
}

.board > button {
  background-color: var(--bg-board);
  border: none;
  padding: 0;
}

button,
.toggle-player-type > *,
.toggle-player-type {
  cursor: pointer;
}

button.hit {
  background-color: #ffbdbd;
}

button.hit svg {
  color: red;
  stroke-width: 0.9pt;
  height: 100%;
  width: 100%;
  transform: scale(1.5);
}

button.miss {
  background-color: var(--bg-miss);
}

button.miss > svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  fill: black;
  transform: scale(var(--dot-scale));
}

button.visible-ship {
  background-color: #c8c8ff;
  width: 100%;
  border: 2px solid #1212ff;
  height: 100%;
  box-sizing: content-box;
  transform: translate(-2px, -2px);
}

button.verified-tile {
  background-color: var(--bg-miss);
}

button.verified-tile > svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  fill: #bababa;
  transform: scale(var(--dot-scale));
}

button[data-game-state="not-started"] {
  position: absolute;
  top: 40%;
  left: 20px;
  z-index: 1001;
  padding: 5px 20px;
  font-size: inherit;
  font-family: inherit;
  background-color: black;
  color: white;
}

button[data-game-state="started"] {
  display: none;
}
