@import url("./utility.css");

/* [[NOTE]] Remove inside borders from visible ships */
:root {
  --tile-length: 30px;
  --tile-number: 10;
  --side-gap: 200px;
  --dot-scale: 0.65;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-text);
  margin-top: 20px;
}

#gameboards {
  display: flex;
  justify-content: space-between;
}

section {
  margin-inline: var(--side-gap);
}

header {
  padding-inline: 120px;
  margin-bottom: 80px;
  display: grid;
  grid-template: 1fr / 1fr 2fr 1fr;
  gap: 20px;
  align-items: center;
}

.message-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: #f4f4f4;
  height: 30px;
  font-size: 1.2rem;
  color: #4a4a4a;
  padding-left: 10px;
}

.gameboards__left {
  display: grid;
  grid-template: repeat(2, auto) / 100px 1fr;
}

.gameboards__right {
  display: grid;
  grid-template: repeat(2, auto) / 1fr 100px;
}

.gameboards__left .toggle-player-type {
  grid-column: 2;
}

.board {
  display: grid;
  grid-template: repeat(var(--tile-number), var(--tile-length)) / repeat(
      var(--tile-number),
      var(--tile-length)
    );
  background-color: var(--clr-board-border);
  gap: 1px;
  padding: 1px 1px;
  position: relative;
}

.board:not(.appear)::after {
  content: "";
  position: absolute;
  background-color: #ffffffa8;
  backdrop-filter: blur(0.7px);
  top: -25px;
  left: -20px;
  height: calc(100% + 4px + 25px);
  width: calc(100% + 4px + 20px);
  z-index: 1000;
}

.board > button {
  background-color: var(--bg-board);
  border: none;
  padding: 0;
}

button,
.toggle-player-type > *,
.toggle-player-type {
  cursor: pointer;
}

.toggle-player-type > *,
.toggle-player-type {
  opacity: 0;
  cursor: default;
}

button.hit {
  background-color: #ffbdbd;
}

button.hit svg {
  color: red;
  stroke-width: 0.9pt;
  height: 100%;
  width: 100%;
  transform: scale(1.5);
}

button.miss-old > svg,
button.miss-new > svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  fill: black;
  transform: scale(var(--dot-scale));
}

button.visible-ship {
  background-color: #f3f3ff;
  border: 2px solid var(--bg-btn);
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  transform: translate(-2px, -2px);
}

button.miss-old {
  background-color: var(--bg-miss-old);
}

button.miss-new {
  background-color: var(--bg-miss-new);
}

button.verified-tile {
  background-color: var(--bg-miss-old);
}

button.verified-tile > svg {
  aspect-ratio: 1 / 1;
  width: 100%;
  fill: #bababa;
  transform: scale(var(--dot-scale));
}

button[data-game-state="not-started"] {
  position: absolute;
  top: 40%;
  left: 20px;
  z-index: 1001;
  padding: 5px 20px 10px;
  font-size: inherit;
  font-family: var(--ff-heading);
  background-color: #282828;
  color: #fffffff0;
  transition:
    color 150ms ease,
    background-color 150ms ease,
    border 150ms ease;
  transition: box-shadow 200ms ease;
}

button[data-game-state="not-started"]:hover {
  box-shadow: 6px 6px var(--bg-btn);
  color: var(--bg-btn);
  background-color: white;
  border: 1px solid var(--bg-btn);
  box-shadow: 6px 6px var(--bg-btn);
}

button[data-game-state="started"] {
  display: none;
}

.human
  > button[data-coordinates]:not(
    .verified-tile,
    .visible-ship,
    .miss-old,
    .miss-new,
    .hit
  ):hover {
  background-color: #f0fff0;
  border: 2px solid #58e158;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  transform: translate(-2px, -2px);
  z-index: 1000;
}

.board__columns {
  position: absolute;
  top: -25px;
  display: grid;
  grid-template: 20px / repeat(10, 1fr);
  width: 100%;
}

.board__rows {
  position: absolute;
  left: -20px;
  display: grid;
  height: 100%;
}

.board__rows,
.board__columns {
  font-size: var(--fs-board-index);
  font-family: var(--ff-light);
  place-items: center;
}

.options__buttons {
  margin-left: 100px;
  display: flex;
  gap: 15px;
}

.options__buttons button {
  padding-inline: 0px;
  background-color: var(--bg-btn);
  font-family: var(--ff-btn);
  font-size: 0.8rem;
  color: var(--clr-400);
  background-color: transparent;
  border-bottom: 1pt dotted var(--clr-400);
  border-radius: 2px;
}

.options__btn__container svg {
  aspect-ratio: 1 / 1;
  height: 18px;
  fill: var(--clr-400);
}

.options__btn__container {
  display: flex;
  gap: 2px;
  align-items: center;
}

.options__btn__container:hover * {
  fill: var(--clr-valid-400);
  color: var(--clr-valid-400);
  border-color: var(--clr-valid-400);
  cursor: pointer;
}

header > h1 {
  grid-column: 2 / 3;
  font-family: var(--ff-heading);
  font-weight: normal;
  text-align: center;
  margin-inline: auto;
}
