@font-face {
  font-family: "war-font";
  src:
    url("./fonts/header-font/fffforwa-webfont.woff2") format("woff2"),
    url("./fonts/header-font/fffforwa-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_condensed";
  src: url("./fonts/roboto-fontfacekit/web fonts/roboto_condensed_macroman/RobotoCondensed-Regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoregular";
  src: url("./fonts/roboto-fontfacekit/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto_condensedlight";
  src: url("./fonts/roboto-fontfacekit/web fonts/roboto_lightcondensed_macroman/RobotoCondensed-Light-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotolight";
  src: url("./fonts/roboto-fontfacekit/web fonts/roboto_light_macroman/Roboto-Light-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --ff-primary: "roboto_condensed";
  --ff-light: "roboto_condensedlight";
  --ff-heading: "war-font";

  --ff-roboto-regular: "robotoregular";
  --ff-roboto-light: "robotolight";

  --clr-text: #282828;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
*:not(dialog) {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  9. Set default button styles
*/
button {
  cursor: pointer;
  background-color: light-grey;
  border: none;
}
